.one {
  text-align: center;
  background-color: aquamarine;
  padding: 0.5cm;
}
.two {
  text-align: center;
}
.three {
  padding-left: 15cm;
}
.four {
  padding-left: 0.3cm;
}
.five {
  padding-left: 7.2cm;
}
.six {
  padding-left: 3.4cm;
}
.seven {
  padding-left: 12.8cm;
}
.eight {
  padding-left: 10.4cm;
}
.nin {
  padding-left: 7.5cm;
}
.ten {
  padding-left: 9cm;
}
